<nav class="navbar" style="background-color: #B8E6F3;">
    <div class="d-flex align-items-center">
        <a class="navbar-brand ps-2" href="/">
            <img src="/logo-2.png" alt="Bootstrap" width="90" height="64">
        </a>
        <a class="nav-link me-2" href="/">Events</a>
        <a class="nav-link me-2" href="/admin">Admin</a>
    </div>
</nav>