@inherits LayoutComponentBase

<div class="main-container">
    <nav class="nav-bar">
        <NavBar/>
    </nav>

    <main>
        <article class="main-article">
            @Body
        </article>
        <div class="background-filler"></div>
    </main>

    <footer class="footer">
        <Footer/>
    </footer>
</div>

@* 
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div> *@
