@page "/"
@rendermode InteractiveServer

<div class="container-fluid shadow border-2 d-flex flex-column h-100">
    <div class="mb-3 d-flex justify-content-center">
        <h1 class="display-6"> Tablica wydarzeń </h1>
    </div>
    <div class="mb-3 flex-grow-1">
        <EventsList />
    </div>
</div>

@code {

}
